/* ---- Import ---- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/matahari_400_regular.otf");
  src: url("../Font/Matahari/matahari_400_regular-webfont.woff2") format("woff2"), url("../Font/Matahari/matahari_400_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/matahari_400_regular_oblique.otf");
  src: url("../Font/Matahari/matahari_400_regular_oblique-webfont.woff2") format("woff2"), url("../Font/Matahari/matahari_400_regular_oblique-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/matahari_700_bold.otf");
  src: url("../Font/Matahari/matahari_700_bold-webfont.woff2") format("woff2"), url("../Font/Matahari/matahari_700_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Matahari";
  src: url("../Font/Matahari/matahari_700_bold_oblique.otf");
  src: url("../Font/Matahari/matahari_700_bold_oblique-webfont.woff2") format("woff2"), url("../Font/Matahari/matahari_700_bold_oblique-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nognathy";
  src: url("../Font/Nognathy/Nognathy.otf");
  src: url("../Font/Nognathy/Nognathy.woff2") format("woff2"), url("../Font/Nognathy/Nognathy.woff") format("woff"), url("../Font/Nognathy/Nognathy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* ---- Color  ----- */
.primary-color {
  color: #33150d   !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8df9f;
  font-family: "Matahari", sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  color: #190606;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(165, 48, 52, 0.1411764706);
}

::selection {
  background: rgba(165, 48, 52, 0.1411764706);
}

section.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
section.section.hero {
  display: grid;
  place-items: center;
}

.section:first-child, .section.thanks {
  display: flex;
  flex-direction: column;
}

.section:first-child {
  min-height: 100vh;
}
@media (max-width: 991.98px) {
  @supports (height: 100dvh) {
    .section:first-child {
      min-height: 100dvh;
    }
  }
}

.section.thanks {
  min-height: calc(100vh - 80px);
  justify-content: center;
}
@supports (height: 100dvh) {
  .section.thanks {
    min-height: calc(100dvh - 80px);
  }
}

a, footer a {
  color: #dd2653;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  transform: skewX(20);
}
a:active, aa:visited, footer a:active, footer aa:visited {
  color: #33150d;
}
a:hover, footer a:hover {
  color: #33150d;
}
@media (min-width: 992px) {
  a:hover, footer a:hover {
    opacity: 1;
  }
  a:hover::before, footer a:hover::before {
    transform: scaleX(1);
    transform-origin: left center;
  }
  a::before, footer a::before {
    display: block;
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 0.056rem;
    background: currentColor;
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
  }
}


.fluid-container {
  padding: 0 3rem;
}
@media (max-width: 767.98px) {
  .fluid-container {
    padding: 0 1.5rem;
  }
}
.fluid-container.min {
  padding: 0 5rem;
}
@media (max-width: 767.98px) {
  .fluid-container.min {
    padding: 0 2rem;
  }
}


/* -- hero -- */
.hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .title {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  top: 2rem;
}
.hero h1 span {
  color: #33150d;
  position: relative;
  size: 80vw;
}
.hero h1 span:nth-child(2) {
  top: 0.2rem;
}
.hero h1 span:nth-child(3) {
  top: -0.1rem;
}
.hero h1 span:nth-child(4) {
  top: 0.3rem;
}
.hero h1 span:nth-child(5) {
  top: 0.2rem;
}
.hero h1 span:nth-child(6) {
  top: -0.1rem;
}
.hero h1 span:nth-child(7) {
  top: -0.3rem;
}
.hero h1 span:nth-child(8) {
  top: 0.2rem;
}
.hero h1 span:nth-child(9) {
  top: -0.1rem;
}
.hero h1 span:nth-child(10) {
  top: -0.rem;
}
.hero h1 span:nth-child(11) {
  top: -0.2rem;
}
.hero h1 span:nth-child(12) {
  top: -0.1rem;
}

.hero p.big {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 5rem;
  line-height: 1;
  z-index: 2;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
  color:#00916d;
}
@media (max-width: 991.98px) {
  .hero p.big {
    margin-right: 5rem;
  }
}
.hero .social-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.hero .social-icons .social-icon {
  color: #190606;
}
@media (max-width: 767.98px) {
  .hero .social-icons .social-icon {
    flex: 25%;
    justify-content: center;
    display: flex;
    padding-bottom: 2rem;
  }
}
.hero .designer {
  color: #caa03a;
  position: absolute;
  top: -0.01rem;
  bottom: 25%;
  size: 3rem;
}

@media (min-width: 768px) {
  .hero .designer {
    left: 20%;
  }
}

.hi .emoji {
  font-size: clamp(1.6rem, 15vw, 2.12rem) !important;
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s; /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.me .portrait {
  position: absolute;
  display: block;
  width: 50vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
@media (max-width: 575.98px) {
  .me .portrait {
    position: static;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bio .labels {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  line-height: 1;
  z-index: 2;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
}

/* -- fluid text -- */
html {
  font-size: 4vw;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(4vw + 10 * (100vw - 320px) / 880);
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(2vw + 10 * (100vw - 320px) / 880);
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 2vw;
  }
}
h1 {
  font-size: clamp(4rem, 15vw, 6rem);
}
h1.big {
  font-size: clamp(5.5rem, 15vw, 12rem);
}

h2 {
  font-size: clamp(3rem, 15vw, 3.75rem);
}
h2.big {
  font-size: clamp(6.4rem, 15vw, 9rem);
}

h3 {
  font-size: clamp(1.8rem, 15vw, 3rem);
}

h4 {
  font-size: clamp(1.6rem, 15vw, 2.12rem);
}

h5 {
  font-size: clamp(1.35rem, 15vw, 1.5rem);
}

h6 {
  font-size: clamp(1.2rem, 15vw, 1.3rem);
}

p {
  font-size: clamp(1rem, 15vw, 1.1rem);
  line-height: 150%;
  letter-spacing: 0.01rem;
}
p.big {
  font-size: clamp(1.3rem, 15vw, 1.6rem);
  line-height: 135%;
}


.social-icon i {
  font-size: clamp(1rem, 15vw, 1.1rem);
}

strong {
  font-weight: 700;
}

.serif {
  font-family: Nognathy !important;
}

.home {
    font-family: Nognathy !important;
    margin-left: 1rem;
  }

/* span a capo */
p.forced, h3.forced {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 140%;
  z-index: 2;
  flex-wrap: wrap;
  max-width: 800px;
}

.portfolio h3.forced {
  line-height: 110%;
}

/* -- Social Icon -- */
/* -- Smooth scroll -- */
.smooth-scroll {
  overflow: hidden !important;
}


[data-scroll-in-section] {
  display: inline-flex;
  padding-right: 50px;
  align-items: baseline;
}

.sectionLeftAndRight .section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.afterHorizontal {
  margin-top: -100vh;
}

/* ----- split text anm ---- */
.splitting .char {
  -webkit-animation: slide-in 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
          animation: slide-in 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
  -webkit-animation-delay: calc(3ms * var(--char-index) + 1000ms);
          animation-delay: calc(3ms * var(--char-index) + 1000ms);
}

@-webkit-keyframes slide-in {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}
/* ----- bg animation ---- */
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
}
.bg::before {
  content: "";
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("http://assets.iceable.com/img/noise-transparent.png");
  -webkit-animation: 0.2s infinite noise;
          animation: 0.2s infinite noise;
  pointer-events: none;
  opacity: 0.5;
}

@-webkit-keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
.circle-elements {
  height: 100vh;
  width: 100vw;
  position: fixed;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
.circle-elements .one {
  position: fixed;
  width: 50vw;
  height: 160px;
  z-index: 99;
  min-width: calc(320px + 2rem);
  top: -80px;
  right: calc(-25vw - 2rem);
  -webkit-animation: rotation 14s infinite linear;
          animation: rotation 14s infinite linear;
}
@media (max-width: 991.98px) {
  .circle-elements .one svg {
    transform: scale(0.8) !important;
  }
}
@media (max-width: 767.98px) {
  .circle-elements .one svg {
    transform: scale(0.6) !important;
  }
}
@media (max-width: 575.98px) {
  .circle-elements .one svg {
    transform: scale(0.4) !important;
  }
}
.circle-elements .one svg + svg {
  right: 0;
  position: absolute;
}
.circle-elements .one svg + svg path {
  fill: #dc2553;
}
@media (max-width: 767.98px) {
  .circle-elements .one svg + svg path {
    opacity: 0.3;
  }
}
.circle-elements .one path {
  fill: #00916d;
}
@media (max-width: 767.98px) {
  .circle-elements .one path {
    opacity: 0.3;
  }
}
.circle-elements .two {
  position: fixed;
  width: 50vw;
  height: 160px;
  min-width: calc(320px + 2rem);
  bottom: -80px;
  left: calc(-25vw - 2rem);
  -webkit-animation: rotation 12s infinite linear;
          animation: rotation 12s infinite linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media (max-width: 991.98px) {
  .circle-elements .two svg {
    transform: scale(0.85) !important;
  }
}
@media (max-width: 767.98px) {
  .circle-elements .two svg {
    transform: scale(0.7) !important;
  }
}
@media (max-width: 575.98px) {
  .circle-elements .two svg {
    transform: scale(0.5) !important;
  }
}
.circle-elements .two svg + svg {
  right: 0;
  position: absolute;
}
.circle-elements .two svg + svg path {
  fill: #dc2553;
}
@media (max-width: 767.98px) {
  .circle-elements .two svg + svg path {
    opacity: 0.2;
  }
}
.circle-elements .two path {
  fill: #00916d;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
footer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer p {
  font-size: 0.6rem;
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */

.serif2 {
    font-family: Nognathy !important;
    width: 80vw;
    margin-left: 3rem;
    margin-top: 3rem;
}

.exp2 {
    margin-left: 3rem;
}

.portlines {
    width: 80vw;
    position: middle;
}