/* ---- Import ---- */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);

@font-face {
  font-family: 'Matahari';
  src: url('../Font/Matahari/matahari_400_regular.otf');
  src: url('../Font/Matahari/matahari_400_regular-webfont.woff2') format('woff2'),
       url('../Font/Matahari/matahari_400_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Matahari';
  src: url('../Font/Matahari/matahari_400_regular_oblique.otf');
  src: url('../Font/Matahari/matahari_400_regular_oblique-webfont.woff2') format('woff2'),
       url('../Font/Matahari/matahari_400_regular_oblique-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Matahari';
  src: url('../Font/Matahari/matahari_700_bold.otf');
  src: url('../Font/Matahari/matahari_700_bold-webfont.woff2') format('woff2'),
       url('../Font/Matahari/matahari_700_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Matahari';
  src: url('../Font/Matahari/matahari_700_bold_oblique.otf');
  src: url('../Font/Matahari/matahari_700_bold_oblique-webfont.woff2') format('woff2'),
       url('../Font/Matahari/matahari_700_bold_oblique-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nognathy';
  src: url('../Font/Nognathy/Nognathy.otf');
  src: url('../Font/Nognathy/Nognathy.woff2') format('woff2'),
       url('../Font/Nognathy/Nognathy.woff') format('woff'),
       url('../Font/Nognathy/Nognathy.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


/* ---- Color  ----- */

//primary
$primary-color-50: white;
$primary-color-100: #f8df9f;
$primary-color-200: #eec263;
$primary-color-300: #f2c145;
$primary-color-400: #caa03a;
$primary-color-500: #98742a;
$primary-color-600: #33150d;
$primary-color-700: #200d08;
$primary-color-800: #130704;
$primary-color-900: black;

//#da4d08 --> arancione
//#fff1c0 --> sfondo

//alternative
$alternative-color:#6750A4;

$black:#190606;
$white:#fdf7f7;

.primary-color{
  color: $primary-color-600 !important;
}

// ---- Base -----
html{
  scroll-behavior: smooth;
}
body{
  background-color: $primary-color-100;
  
  font-family: 'Matahari', sans-serif;
  overflow-y: hidden; /* Hide vertical scrollbar */
  color:$black;

}
::-moz-selection { /* Code for Firefox */
  background:#a5303424;
}

::selection {
  background:#a5303424;
}


// ---- Section -----
section.section{

  &.hero{
    display: grid;
    place-items: center;
  }
  padding-top: 4rem;
  padding-bottom: 4rem;

}

.section:first-child, .section.thanks{
  display: flex;
  flex-direction: column;
  // justify-content:center;
  // justify-content: space-around;
  // justify-content: flex-end;
  // height: calc(100vh - env(safe-area-inset-bottom));
}
.section:first-child{
  min-height: 100vh;
  @media (max-width: 991.98px) {
    @supports(height: 100dvh) {
      min-height: 100dvh;
    }
  }
}
.section.thanks{
  min-height: calc(100vh - 80px);

  @supports(height: 100dvh) {
    min-height: calc(100dvh - 80px);
  }

  justify-content: center;
}

//link
a, footer a{
  color:$primary-color-400;
  position: relative;
  text-decoration: none;
  transition:all .5s ease-in-out;
  transform: skewX(20);
  // opacity: .6;
  
  &:active, &a:visited{
    color: $primary-color-900;
  }
  &:hover{
    color:$primary-color-600;
  }
  @media (min-width: 992px) {  
    &:hover{
      opacity: 1;
      &::before{
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
    &::before{
      display: block;
      content: "";
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      transform: scaleX(0);
      width: 100%;
      height: 0.056rem;
      background: currentColor;
      transition: transform .7s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: right center;
    }
  }
}

//italic
.italic{
  font-style: italic;
}

//container fluid
.fluid-container{
  padding: 0 3rem;
  @media (max-width: 767.98px) {
    padding: 0 1.5rem;
  }
  &.min{
    padding: 0 5rem;
    @media (max-width: 767.98px) {
      padding: 0 2rem;
    }
  }
}
.exp-edu{
  align-items: flex-end;
}


/* -- hero -- */
.hero{
  .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    top:2rem;
  }

  h1 span{
    color:  $primary-color-600;
    position: relative;

    &:nth-child(2){
      top:1rem;

    }
    &:nth-child(3){
      top:-.6rem;
    }
    &:nth-child(4){
      top:.5rem;
    }
    &:nth-child(5){
      top:1.3rem;
    }
    &:nth-child(6){
      top:-.3rem;
    }
  }
  p.big {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    line-height: 1;
    z-index: 2;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    max-width: 800px;

    //spazio di xx
    @media (max-width: 991.98px) {
      top: 2rem;
      margin-right: 2rem;
    }
  }
  // social link
  .social-icons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    & .social-icon{
      color: $black;
      @media (max-width: 767.98px) {
        flex: 25%;
        justify-content: center;
        display: flex;
        padding-bottom: 2rem;
      }

    }
  }
  .designer{
    color:$primary-color-400;
    position: absolute;
    bottom: 25%;
    @media (min-width: 768px) {
      left: 20%;
    }
  }
}

// emoji
.hi{
  .emoji{
    font-size: clamp(1.6rem, 15vw, 2.12rem) !important;

    //animation
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
}
@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}


// me container
.me{
  .portrait{
    position:absolute;
    display: block;
    width: 600px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; // Align top: auto
    margin: auto;
    z-index:-1;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
    @media (max-width: 575.98px) {
      position:static;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }

    66% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }

    66% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}


// bio container 
.bio{
  .labels{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    line-height: 1;
    z-index: 2;
    align-items: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    max-width: 800px;
  }
  .things{
    // position: relative;
  }
}

.exp{
  margin-bottom: 2rem;
}


/* -- fluid text -- */

html {
  font-size: 4vw;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(4vw + 10 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: calc(2vw + 10 * (100vw - 320px) / 880); //test 
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 2vw;
  }
}

h1 {
  font-size: clamp(4rem, 15vw, 6rem);

  &.big {
    font-size: clamp(5.5rem, 15vw, 12rem);
  }
}

h2 {
  font-size: clamp(3rem, 15vw, 3.75rem);

  &.big {
    font-size: clamp(6.4rem, 15vw, 9rem);
  }
}

h3 {
  font-size: clamp(1.8rem, 15vw, 3rem);

  // &.big {
  //   font-size: clamp(4.2rem, 15vw, 7.4rem);
  // }
}

h4 {
  font-size: clamp(1.6rem, 15vw, 2.12rem);
}

h5 {
  font-size: clamp(1.35rem, 15vw, 1.5rem);
}

h6 {
  font-size: clamp(1.2rem, 15vw, 1.3rem);
}

p {
  font-size: clamp(1rem, 15vw, 1.1rem);
  line-height: 150%;
  letter-spacing: .01rem;

  &.big {
    font-size: clamp(1.3rem, 15vw, 1.6rem);
    line-height: 135%;
  }
  
  &.small {
    font-size: clamp(.65rem, 15vw, .8rem);

    @media (max-width: 767.98px) {
      font-size: clamp(.8rem, 15vw, .9rem);
    }
  }
}

.social-icon i{
  font-size: clamp(1rem, 15vw, 1.1rem);
}
strong{
  font-weight: 700;
}

.serif{
  font-family:Nognathy !important;
}



/* span a capo */
p.forced, h3.forced {
  position: relative;
  display: flex;
  flex-direction: column;
  // margin-left: auto;
  line-height: 140%;
  z-index: 2;
  // align-items: flex-start;
  // align-content: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
}

.portfolio h3.forced{
  line-height: 110%;
}


/* -- Social Icon -- */
.social-icons i {
  // vertical-align: top;
  // display:inline-flex;
  // height: 100px;
  // padding: 1rem;
}

/* -- Smooth scroll -- */
.smooth-scroll {
  overflow: hidden !important;
}

.horizontalScrolling {
  padding-top: 125px;
  padding-bottom: 125px;
}

.horizontalScrolling .section-inner {
  min-height: max-content;
}

[data-scroll-in-section] {
  display: inline-flex;
  padding-right: 50px;
  align-items: baseline;
}

// item horizontal carousel 
.item {
  white-space: nowrap;
  max-width: 2000px;
  width: fit-content;

  &:first-child{
    padding-left: 33vw;
  }
  &:last-child{
    padding-right: 0;
  }
  &:nth-child(4n+1){
    font-family:Nognathy !important;
    color: $primary-color-700;
    text-transform: uppercase;
  }
  &:nth-child(4n+2){
    font-weight: 200;
  }
  &:nth-child(4n+3){
    color:$primary-color-400;
    text-transform: uppercase;
  }
  &:nth-child(4n+3){
    font-weight:bolder;
    font-style: italic;
  }

}
.item + .item {
  margin-left: 3rem;
}

.sectionLeftAndRight .section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


section.afterHorizontal {
  margin-top: -100vh;
}


/* ----- split text anm ---- */

.splitting .char {
  animation: slide-in .6s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(3ms * var(--char-index) + 1000ms );
}


@keyframes slide-in {
  from {
    transform: translateY(1.5em);
    opacity: 0;
  }
}

/* ----- bg animation ---- */
// @media (min-width: 992px) {  
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    &::before {
        content: "";
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('http://assets.iceable.com/img/noise-transparent.png');
        animation: .2s infinite noise;
        pointer-events: none;
        opacity: .5;
    }
  }
// }


@keyframes noise {
  0%, 100% {
      background-position: 0 0;
  }

  10% {
      background-position: -5% -10%;
  }

  20% {
      background-position: -15% 5%;
  }

  30% {
      background-position: 7% -25%;
  }

  40% {
      background-position: 20% 25%;
  }

  50% {
      background-position: -25% 10%;
  }

  60% {
      background-position: 15% 5%;
  }

  70% {
      background-position: 0% 15%;
  }

  80% {
      background-position: 25% 35%;
  }

  90% {
      background-position: -10% 10%;
  }
}


$circle-width:50vw;
$circle-height:160px;

@media (max-width: 991.98px) {
  $circle-width:500px;
}
@media (max-width: 767.98px) {
  $circle-width:400px;
}
@media (max-width: 575.98px) { 
  $circle-width:200px;
 }

.circle-elements{
  height: 100vh;
  width: 100vw;
  position: fixed;
  //fadin
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;


  .one{
    position: fixed;
    width: $circle-width;
    height: $circle-height;
    z-index: 99;
    min-width: calc($circle-height * 2 + 2rem);

    top: calc(($circle-height - $circle-height) - ($circle-height / 2));
    right: calc(($circle-width - $circle-width) - ($circle-width / 2) - 2rem);

    // background-color: #6750A4;

    animation: rotation 14s infinite linear;

    svg{
      // animation: rotation 4s infinite linear;  <------
      @media (max-width: 991.98px) {
        transform: scale(.8) !important;
      }
      @media (max-width: 767.98px) {
        transform: scale(.6) !important;
      }
      @media (max-width: 575.98px) { 
        transform: scale(.4) !important;
       }
      &+svg{
        right: 0;
        position: absolute;

        path{
          fill:$primary-color-300;
          
          @media (max-width: 767.98px) {
            opacity: .3;
          }
        }
      }
    }
    
    path{
      fill:$primary-color-200;

      @media (max-width: 767.98px) {
        opacity: .3;
      }
    }

 
  }
  .two{
    position: fixed;
    width: $circle-width;
    height: $circle-height;

    min-width: calc($circle-height * 2 + 2rem);

    bottom: calc(($circle-height - $circle-height) - ($circle-height / 2));
    left: calc(($circle-width - $circle-width) - ($circle-width / 2) - 2rem);

    // background-color: #6750A4;

    animation: rotation 12s infinite linear;
    animation-delay:2s;

    svg{
      // animation: rotation 4s infinite linear;  <------

      @media (max-width: 991.98px) {
        transform: scale(.85) !important;
      }
      @media (max-width: 767.98px) {
        transform: scale(.7) !important;
      }
      @media (max-width: 575.98px) { 
        transform: scale(.5) !important;
       }
      &+svg{
        right: 0;
        position: absolute;
        
        path{
          fill:$primary-color-300;
          
          @media (max-width: 767.98px) {
            opacity: .2;
          }
        }
      }
    }
    
    path{
      fill:$primary-color-200;
    }
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


// footer
footer{
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // background-color: $primary-color-100;

  // border-top: 2px solid $primary-color-200;

  &>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // testo
  p{
    font-size: .6rem;
    margin-bottom: 0;
  }
}

